.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
}

.logo img {
  width: 30px;
}

.menu img {
  width: 22px;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 50px;
  }

  .menu img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .logo img {
    width: 60px;
    height: 45px;
  }
}
