.header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 40px 0px;
  width: 100%;
  background: var(--header-bg-color);
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.header__logo {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1.2px;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  background: linear-gradient(
    45deg,
    var(--font-color-to-gradient) 30%,
    var(--font-color-highlight) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-wrap: nowrap;
}

.header__logo span {
  display: inline-block;
  transition: opacity 0.2s ease-in-out;
  background: linear-gradient(
    180deg,
    var(--font-color-to-gradient) 20%,
    var(--font-color-accent) 100%
  );
  background-clip: text;
}

.header__logo:hover span {
  opacity: 0.3;
}

.header__logo span:hover {
  opacity: 1;
}

.navigation__ul {
  display: flex;
  gap: 60px;
}

.navigation__ul li {
  display: inline-block;
  list-style-type: none;
}

.navigation__ul li a {
  text-decoration: none;
  font-weight: 500;
  color: var(--font-color-gray);
}

.navigation__ul li a:hover {
  color: var(--font-color-highlight);
  cursor: pointer;
}

.navigation__btn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
}

.navigation__btnclose {
  position: absolute;
  top: 25px;
  right: 25px;
}

.menu__x,
.menu {
  width: 20px;
  height: 20px;
}

.li__active a {
  color: var(--font-color-highlight) !important;
}

.navigation__sun {
  display: none;
  opacity: 0;
}

.sun {
  fill: var(--font-color-gray);
  animation: sun-appear-animation 0.3s ease-out forwards;
}

.moon {
  fill: var(--icon-color-menu);
  animation: moon-appear-animation 0.3s ease-out forwards;
}

.navigation__modalicons {
  display: none;
}

.navigation__icons {
  width: 31px;
  height: 31px;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navigation__icons:hover .moon {
  filter: drop-shadow(0 0 8px rgba(255, 215, 0, 0.7))
    drop-shadow(0 0 15px rgba(255, 215, 0, 0.3));
  transform: scale(1.1);
  fill: var(--icon-color-glow);
}

.navigation__icons:hover .sun {
  filter: drop-shadow(0 0 10px rgba(255, 165, 0, 0.7))
    drop-shadow(0 0 20px rgba(255, 165, 0, 0.4));
  transform: scale(1.1);
  fill: var(--icon-color-glow);
}

@keyframes sun-appear-animation {
  from {
    opacity: 0;
    transform: scale(0.7) rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes moon-appear-animation {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media screen and (max-width: 1024px) {
  .header__sun {
    display: none;
  }
  .navigation__sun {
    display: block;
  }
  .navigation__modalicons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
  }

  .navigation__modalicons:hover .moon {
    filter: none;
    fill: var(--icon-color-glow);
  }

  .navigation__modalicons:hover .sun {
    filter: none;
    fill: var(--icon-color-glow);
  }

  .responsive__icon {
    width: fit-content;
  }

  .navigation__icons {
    width: auto;
    height: auto;
  }

  .responsive__icon > svg {
    opacity: 1;
    transition: 2s ease;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;
  }

  .li__active {
    color: var(--font-color-gray) !important;
  }

  .navigation ul li {
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
  }

  .navigation ul li:first-child {
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
  }

  .navigation ul li:nth-child(2) {
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
  }
  .navigation ul li:nth-child(3) {
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
  }
  .navigation ul li:nth-child(4) {
    transition: 1.3s ease;
    -webkit-transition: 1.3s ease;
    -moz-transition: 1.3s ease;
    -ms-transition: 1.3s ease;
    -o-transition: 1.3s ease;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
    background-color: var(--background-main);
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .responsive__nav {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .responsive__nav ul li {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }

  .header__menu {
    width: 100%;
  }

  .navigation__btn {
    display: block;
    opacity: 1;
    z-index: 999;
  }

  .navigation__btnclose > img {
    vertical-align: bottom;
  }
}

@media screen and (max-width: 768px) {
  .navigation ul {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 25px;
  }
}

@media screen and (min-width: 1025px) {
  .header__menu {
    flex-basis: 61%;
  }
}

@media screen and (min-width: 1440px) {
  .header__logo {
    font-weight: bold;
    font-size: 40px;
  }
}
