.navigation {
  display: none;
}

.navigation__page {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--bg-white);
  opacity: 0.96;
  height: inherit;
  margin: 25px;
  overflow: scroll;
  z-index: 998;
  border: var(--border-main);
}

.navigation__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 50px;
  margin-left: 10%;
}

.navigation__ul li {
  list-style: none;
  color: var(--font-color-main);
  letter-spacing: 1.5px;
  font-size: 14px;
}

@media screen and (min-width: 425px) {
  .navigation__ul {
    gap: 80px;
  }

  .navigation__ul li {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__page {
    margin: 30px;
  }
  .navigation__ul {
    gap: 100px;
  }

  .navigation__ul li {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .navigation__page {
    margin: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    display: flex;
    flex-grow: 1;
  }
  .navigation__ul {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    gap: 60px;
    margin-left: auto;
  }

  .navigation__page {
    position: relative;
    background: transparent;
    border: none;
    margin: 0 auto;
  }

  .navigation__ul li {
    margin: 0 auto;
    font-size: 16px;
  }
}
