.blog__container {
}

.blog__img_container {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 4px 21px var(--boxshadow-color);
  cursor: pointer;
  transition: background-color 0.15s ease;
  -webkit-transition: background-color 0.15s ease;
  -moz-transition: background-color 0.15s ease;
  -ms-transition: background-color 0.15s ease;
  -o-transition: background-color 0.15s ease;
}

.blog__container:hover .blog__img_container {
  border: 1px solid var(--border-color-dark);
}

.blog__container:hover .blog__img {
  transform: scale(1.05);
  opacity: var(--opacity-hover);
}

.blog__img {
  display: block;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  opacity: var(--opacity);
}

.blog__title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 28px;
  color: var(--font-color-h3);
  margin: 18px 0px 6px;
  padding: 0px 4px;
}
.blog__p {
  --max-lines: 3;

  padding: 0px 4px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: var(--font-color-gray);
  text-align: left;

  max-height: calc(var(--max-lines) * 1em * 2);

  overflow: hidden;
  position: relative;
}

.blog__p::before {
  content: "";
  position: absolute;
  height: calc(2em * 2);
  width: 100%;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--background-main));
}

@media screen and (min-width: 1280px) {
  .blog__title {
    font-size: 20px;
    margin: 20px 0px 8px;
    line-height: 30px;
  }
  .blog__p {
    line-height: 28px;
  }
}
