:root {
  --bg-white: #fff7ef;
  --bg-gradient: linear-gradient(#caf0fd, #fed579);
  --bg-gradient-frame: linear-gradient(
    to right,
    rgba(197, 233, 254, 0.29),
    rgba(252, 249, 172, 0.29)
  );
  --font-color-main: #343434;

  --border-main: 1px solid #373636;
  --border-sec: 1px solid #777777;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--bg-gradient) no-repeat;
}

body {
  margin: 25px;
}

.background {
  border: var(--border-main);
  background: var(--bg-white);
  padding: 20px 25px;
  height: calc(100vh - 50px);
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 30px;
  }

  .background {
    padding: 40px;
    height: calc(100vh - 60px);
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 38px;
  }

  .background {
    padding: 50px;
    height: calc(100vh - 76px);
  }
}

@media screen and (min-width: 1440px) {
  .background {
    padding: 60px;
  }
}
