:root {
  --bg-white: #fbfcff;
  --background-main: #fbfcff;

  --bg-color-hover: #fafafa;

  --header-bg-color: rgba(251, 252, 255, 0.9);

  --font-color-main: #343434;
  --font-color-accent: #000000;
  --font-color-accent2: #fff;

  --project-btn-color: #272727;
  --project-btn-bg: #ffffff;

  --font-color-gray: #666666;
  --font-color-to-gradient: #555555;
  --font-color-highlight: #0064da;
  --font-color-subtle: #787878;

  --font-color-h3: #262626;

  --icon-color-menu: #2b2b2b;
  --icon-color-resume: #2b2b2b;
  --icon-color-glow: #ffa500;

  --blog-color-headings: #121212;
  --blog-color-text: #050505;

  --border-color: #dcdcdc;
  --border-color-dark: #bebebe;
  --border-recent: #dcdcdc;

  --inlinecode-color-bg: #fafafa;
  --inlinecode-color-text: #000;

  --hr-color: #d1d1d1;
  --hr-color-blog: rgba(0, 0, 0, 0.1);

  --boxshadow-color: rgba(0, 0, 0, 0.08);
  --boxshadow-img: rgba(0, 0, 0, 0.3);

  --underline-color: #5d5a5a;
  --opacity: 0.8;
  --opacity-hover: 0.9;
  min-width: 300px;
}

body[data-theme="dark"] {
  --background-main: #0a0a0a;
  --bg-color-hover: rgba(23, 23, 23, 0.6);

  --header-bg-color: rgba(10, 10, 10, 0.9);

  --font-color-highlight: #3291ff;
  --font-color-to-gradient: #d6d6d6;
  --font-color-accent: #fff;
  --font-color-accent2: #000;

  --project-btn-color: #f1f1f1;
  --project-btn-bg: #0a0a0a;

  --font-color-gray: #888888;
  --font-color-h3: #fff;
  --font-color-subtle: #787878;

  --icon-color-menu: #e7e7e7;
  --icon-color-resume: #2b2b2b;
  --icon-color-glow: #ffdf00;

  --blog-color-headings: #ededed;
  --blog-color-text: rgb(256, 256, 256, 0.85);

  --border-color: #333;
  --border-color-dark: #4e4e4e;
  --border-recent: #181818;

  --inlinecode-color-bg: rgb(14, 14, 14);
  --inlinecode-color-text: #fff;

  --boxshadow-color: rgba(34, 34, 34, 0.109);
  --boxshadow-img: rgba(19, 19, 19, 0.3);

  --hr-color: #333;
  --opacity: 0.8;
  --opacity-hover: 0.9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: calc(1em + 0.725rem);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 700;
}

h3 {
  color: var(--font-color-main);
}

body,
html {
  height: 100%;
}

.background-theme {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background-main);
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.background__loading_theme {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background-main);
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.background {
  padding: 0px 25px;
  flex-grow: 1;
  overflow: hidden;
}

.example-1 {
  overflow: hidden;
}

.error-theme {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main);
}

.error {
  text-align: center;
}

.error__h1 {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    var(--font-color-to-gradient) 0%,
    var(--font-color-accent) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}

.error__p {
  font-size: 16px;
  margin: 0.9rem auto 2rem;
  color: var(--font-color-gray);
}

.error__back {
  cursor: pointer;
  height: fit-content;
  min-width: 100px;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid transparent;
  padding: 4px 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.error__back:hover {
  border: 1px solid var(--border-color);
}

.error__back > p {
  color: var(--font-color-highlight);
  font-size: 14px;
}

.error__iconback {
  width: 18px;
  height: auto;
  margin-right: 5px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.loading-theme {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--background-main);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@media screen and (min-width: 768px) {
  .error__h1 {
    font-size: 64px;
  }

  .error__back > p {
    font-size: 16px;
  }

  .error__p {
    font-size: 20px;
    margin: 1.25rem auto 2.25rem;
  }
}

@media screen and (min-width: 1440px) {
  .error__h1 {
    font-size: 80px;
  }

  .error__p {
    font-size: 24px;
    margin: 1.5rem auto 3rem;
  }
  .error__back > p {
    font-size: 17px;
  }
  .error__iconback {
    margin-right: 8px;
  }
  .background {
    padding: 0px 40px;
  }
}
