.mainpage {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.mainpage__article {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
}

.mainpage__article_half {
  display: flex;
  flex-direction: column;
}

.mainpage__p {
  max-width: 300px;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: var(--font-color-gray);
}

.mainpage__description_p {
  margin-bottom: 18px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: var(--font-color-gray);
  text-align: left;
  font-size: 16px;
}

.mainpage__description_p:last-of-type {
  margin-bottom: 45px;
}

.mainpage__description_span {
  color: var(--font-color-highlight);
  position: relative;
}

.mainpage__description_spanpop {
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  border-radius: 4px;
  color: var(--bg-white);
  background: var(--font-color-highlight);
  font-size: 16px;
  z-index: 10;
  padding: 10px;
  margin-top: 10px;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.mainpage__description_spanpop.isVisible {
  opacity: 1;
  visibility: visible;
}

.mainpage__container {
  max-width: 650px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 31px auto 99px auto;
  text-align: center;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.mainpage__img {
  display: block;
  width: 126px;
  height: 141px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
}

.mainpage__svg {
  display: flex;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 60px;
}

.mainpage__container:hover {
  border: 1px solid var(--border-color-dark);
}

.mainpage__h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 37px 0px 8px;
  background: linear-gradient(
    180deg,
    var(--font-color-to-gradient) 0%,
    var(--font-color-accent) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mainpage__svg_icon {
  width: 27px;
  height: 27px;
  fill: var(--font-color-gray);
}

.mainpage__svg_icon:hover {
  fill: var(--icon-color-menu);
}

.mainpage__hr {
  border: none;
  border-top: 2px dashed var(--border-color);
  width: 100%;
  margin: 0px auto 30px;
}

.mainpage__btn_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainpage__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 24px;
  color: var(--font-color-gray);
  background: var(--background-main);
  border: 1px solid var(--border-color);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

.mainpage__btn_articles {
  width: fit-content;
  margin: 0 auto;
  font-size: 15px;
  background: var(--background-main);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.mainpage__btn:hover {
  border: 1px solid var(--font-color-highlight);
  color: var(--font-color-highlight);
  background: var(--inlinecode-color-bg);
}

.mainpage__btn:hover .link1,
.mainpage__btn:hover .link2 {
  stroke: var(--font-color-highlight);
}

.mainpage__btn_articles:hover {
  border: 1px solid var(--font-color-accent);
  color: var(--font-color-accent);
}

.mainpage__btn_p {
  font-size: 14px;
  letter-spacing: -0.25px;
  font-weight: 400;
}

.mainpage__linksicon {
  display: flex;
  gap: 12px;
}

.mainpage__links_a {
  display: flex;
  align-items: center;
}

.mainpage__link_img {
  fill: var(--font-color-gray);
}

.mainpage__btn:hover .mainpage__link_img {
  fill: var(--font-color-highlight);
}

.link1 {
  width: 19px;
  height: 16px;
  stroke: var(--font-color-gray);
  stroke-width: 1.5px;
}
.link2 {
  width: 21px;
  height: 16px;
  stroke: var(--font-color-gray);
  stroke-width: 1.5px;
}

.mainpage__h3 {
  margin: 96px 0px 30px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.25px;
  color: var(--font-color-h3);
}

@media screen and (min-width: 425px) {
  .mainpage__btn_container {
    flex-direction: row;
  }

  .mainpage__btn {
    flex-basis: 230px;
  }

  .mainpage__btn_small {
    flex-basis: 180px;
  }
}

@media screen and (min-width: 1024px) {
  .mainpage__article {
    flex-direction: row;
    margin-top: 150px;
  }

  .mainpage__article_half:first-of-type {
    flex-basis: 35%;
  }
  .mainpage__article_half:last-of-type {
    flex-basis: 65%;
    flex-direction: row;
    height: fit-content;
  }

  .mainpage__hr {
    border-left: 2px dashed var(--border-color);
    width: 1px;
    margin: 0px 48px 0px 0px;
  }

  .mainpage__description {
    margin-top: -5px;
  }

  .mainpage__svg {
    display: flex;
    gap: 9px;
    margin-top: 69px;
  }

  .mainpage__h3 {
    margin-top: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .mainpage__description_p,
  .mainpage__description_span {
    font-size: 17px;
  }

  .mainpage__img {
    width: 160px;
    height: 178px;
  }

  .mainpage__h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .mainpage__p {
    font-size: 16px;
  }

  .mainpage__svg {
    gap: 11px;
  }

  .mainpage__svg_icon {
    width: 30px;
    height: 30px;
  }

  .mainpage__btn {
    flex-basis: 260px;
    padding: 14px 26px;
  }

  .mainpage__btn_small {
    flex-basis: 200px;
  }

  .mainpage__btn_p {
    font-size: 16px;
  }

  .link1 {
    width: 21px;
    height: 16px;
  }
  .link2 {
    width: 24px;
    height: 17px;
  }

  .mainpage__h3 {
    font-size: 20px;
    margin-bottom: 34px;
  }
}
