.blog {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.blog__header {
  margin-left: 2px;
}

.blog__h2 {
  font-size: 34px;
  margin: 44px auto 9px auto;
  background: linear-gradient(
    180deg,
    var(--font-color-to-gradient) 0%,
    var(--font-color-accent) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blog__p {
  margin-left: 3px;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 28px;
  color: var(--font-color-gray);
}

.blogposts {
  display: grid;
  gap: 25px;
}

.label__hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.blog__input {
  border: none;
  outline: none;
  width: 100%;
  color: var(--font-color-gray);
  font-size: 15px;
  background: transparent;
}

.blog__search:focus-within {
  border: 1px solid var(--font-color-accent);
}

.blog__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 11px 16px;
  border: 1px solid var(--border-color-dark);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 46px auto 33px auto;
}

.blog__search span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog__categories {
  order: 3;
  margin-top: 46px;
}

.blog__categories > h3 {
  color: var(--font-color-h3);
  letter-spacing: -0.5px;
}

.blog__allcategories {
  margin-top: 9px;
}

.blog__category {
  background: transparent;
  color: var(--font-color-accent);
  margin: 10px 10px 0px 0px;
  border-radius: 4px;
  font-weight: 500;
  padding: 3px 8px;
  font-size: 0.9em;
  white-space: pre-wrap;
  word-break: break-word;
  border: 1px solid var(--border-color-dark);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.blog__category:hover {
  background: var(--inlinecode-color-bg);
  border: 1px solid var(--border-color);
}

.blog__btn_active {
  background: var(--inlinecode-color-bg);
  border: 1px solid var(--border-color);
}

.blog__category:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

@media screen and (min-width: 425px) {
  .blog__h2 {
    font-size: calc(22px + 3vmin);
  }
  .blog__p {
    font-size: calc(9px + 1.25vmin);
  }
}

@media screen and (min-width: 768px) {
  .blog__h2 {
    font-size: 48px;
    margin: 68px auto 14px auto;
  }
  .blog__p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .blog {
    display: grid;
    grid-template-areas:
      "header hr container"
      "categories hr container";
    column-gap: 30px;
    grid-template-rows: fit-content(500px) 1fr;
    grid-template-columns: 30% 1px 1fr;
  }

  .blog__categories {
    grid-area: categories;
    margin-top: 50px;
  }
  .blog__allcategories {
    margin: 18px 0px 0px 5px;
  }

  .blog__hr {
    grid-area: hr;
    border-left: 2px dashed var(--border-color);
    margin-top: 45px;
  }

  .blog__categories > h3 {
    font-size: 24px;
    margin-left: 5px;
  }
  .blog__container {
    grid-area: container;
  }
  .blog__header {
    grid-area: header;
  }
  .blog__h2 {
    margin-top: 46px;
    font-size: 52px;
  }
  .blog__p {
    line-height: 35px;
    font-size: 18px;
  }
}
