.blogpost {
  border: var(--border-main);
  border: 1px solid var(--border-color-dark);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.15s ease;
  -webkit-transition: background-color 0.15s ease;
  -moz-transition: background-color 0.15s ease;
  -ms-transition: background-color 0.15s ease;
  -o-transition: background-color 0.15s ease;
  letter-spacing: -0.5px;
}

.blogpost__info {
  padding: 26px 35px 36px 35px;
}

.blogpost__date {
  font-size: 11px;
  color: var(--font-color-subtle);
}

.blogpost__h3 {
  font-size: 1rem;
  color: var(--font-color-h3);
  margin: 5px auto 0px auto;
}

.blogpost__p {
  font-size: 14px;
  color: var(--font-color-gray);
  line-height: 26px;
}

.blogpost:hover {
  border: 1px solid var(--font-color-accent);
}

@media screen and (min-width: 375px) {
  .blogpost__h3 {
    margin: 7px auto 3px auto;
  }
}

@media screen and (min-width: 425px) {
  .blogpost__date {
    font-size: calc(10px + 0.3vmin);
  }

  .blogpost__h3 {
    margin: 12px auto 7px auto;
    line-height: 23px;
    font-size: calc(13.5px + 0.6vmin);
  }
  .blogpost__p {
    font-size: calc(12.8px + 0.3vmin);
    color: var(--font-color-gray);
    line-height: 26px;
  }
}

@media screen and (min-width: 768px) {
  .blogpost__date {
    font-size: 13px;
  }
  .blogpost__h3 {
    margin: 14px auto 9px auto;
    font-size: 20px;
  }
  .blogpost__p {
    font-size: 16px;
  }
}
