.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 750px;
  margin: 30px auto 0 auto;
  color: var(--font-color-main);
}

.blogposts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.label__hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.blog__input input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.blog__input input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.blog__input input[type="search"]::-webkit-search-decoration,
.blog__input input[type="search"]::-webkit-search-cancel-button,
.blog__input input[type="search"]::-webkit-search-results-button,
.blog__input input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.blog__input {
  padding: 12px;
  border: var(--border-sec);
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgba(197, 233, 254, 0.29), rgba(252, 249, 172, 0.29));
}

.blog__input input {
  border: 0px solid transparent;
  background: none;
  width: 100%;
}

.blog__input input:focus {
  outline: none;
  width: 100%;
}
.blog__h2 {
  font-size: 1rem;
  padding: 0 10px;
  margin: 40px 0 30px 0;
}

@media screen and (min-width: 768px) {
  .blog {
    margin-top: 60px;
  }
  .blogposts {
    gap: 35px;
  }
  .blog__h2 {
    font-size: 18px;
    margin: 50px 0 30px 0;
  }
  .blog__input {
    padding: 18px 26px;
  }
  .blog__input input {
    font-size: 16px;
    color: var(--font-color-main);
  }
}

@media screen and (min-width: 1024px) {
  .blog {
    margin-top: 70px;
  }
  .blogposts {
    gap: 40px;
  }
  .blog__h2 {
    font-size: 19px;
    margin: 60px 0 35px 0;
  }
  .blog__input {
    padding: 20px 28px;
  }
  .blog__input input {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .blog {
    margin-top: 70px;
  }

  .blog__h2 {
    font-size: 20px;
    margin: 60px 0 38px 0;
  }
  .blog__input {
    padding: 22px 28px;
  }
}
