.post__header {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 100px;
  font-family: "Inter", sans-serif;
}

.post__address {
  background: var(--bg-gradient-frame);
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  width: fit-content;
}

.post__header > h1 {
  position: relative;
  z-index: 2;
  letter-spacing: 1px;
  font-size: 28px;
  line-height: 40px;
  margin: auto 10px;
  font-weight: 700;
  color: var(--font-color-bright);
}

.post__bg {
  position: absolute;
  z-index: 1;
  background-image: var(--bg-gradient-post);
  height: 260px;
  left: 25px;
  right: 25px;
  top: 25px;
}
