.post__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 50px;
}

.post__header h1 {
  letter-spacing: -0.5px;
  font-size: 38px;
  font-weight: 700;
  color: var(--font-color-h3);
  line-height: 58px;
  margin: 10px 0px 40px 0px;
}
.post__header > time {
  width: 100%;
  font-size: 14px;
  color: var(--font-color-subtle);
  letter-spacing: -0.5px;
  line-height: 28px;
}

.post__hr {
  border-top: 2px dashed var(--border-color);
  width: 100%;
  margin-bottom: 25px;
}
