.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 750px;
  margin: 30px auto 0 auto;
}

.article__back > p {
  color: var(--font-color-highlight);
  font-size: 14px;
}

.article__iconback {
  width: 18px;
  height: auto;
  margin-right: 5px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.reactmarkdown p {
  font-size: 16px;
  color: var(--font-color-accent);
  letter-spacing: -0.5px;
  line-height: 29px;
  margin: 16px auto 24px auto;
}

.reactmarkdown h2 {
  margin-top: 40px;
  color: var(--font-color-h3);
  letter-spacing: -0.5px;
  font-size: 24px;
  font-weight: 600;
}

.reactmarkdown ul {
  padding: 0 20px;
  color: var(--font-color-dark);
  list-style-type: circle;
  margin-bottom: 1.5rem;
}

.reactmarkdown ul li {
}

.reactmarkdown pre {
  font-size: 14px;
  margin: 1.5rem 0;
}

.image {
  margin-bottom: 1.5rem;
}

.image > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: left;
}

@media screen and (min-width: 375px) {
  .reactmarkdown p {
    font-size: 18px;
  }

  .reactmarkdown h2 {
    font-size: 30px;
  }
  .reactmarkdown pre {
    font-size: 16px;
    margin: 2.5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .article {
    margin-top: 60px;
  }
  .reactmarkdown p {
    font-size: 20px;
  }
  .reactmarkdown h2 {
    font-size: 36px;
  }
  .reactmarkdown pre {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .article {
    margin-top: 70px;
  }
}
